.headerContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  white-space: nowrap;
}

.actionsContainer {
  display: flex;
}

.subTitleContainer {
  grid-column: auto / span 2;
  white-space: nowrap;
}
