@use '@carbon/layout';
@use '@carbon/type';

.loadingIndicatorContainer {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingDescription {
  @include type.type-style('heading-03');
  white-space: pre-line;
  text-align: center;
  margin-top: layout.$spacing-06;
}
